body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: system-ui;
}
.logo {
  width: 15%;
  padding-top: 20px;
}
header {
  display: flex;
  width: 80%;
  margin: 0 10%;
}
#redlogo {
  width: 60px;
  padding: 10px;
}
.navbar ul {
  display: inline-block;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar .menu {
  text-align: center;
}
.navbar li {
  padding: 20px;
  display: inline-block;
  transition: 0.5s;
}
.navbar li:hover {
  background-color: #ff5700 !important;
}
.content {
  padding-left: 200px;
  padding-right: 200px;
}
